.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  &:hover,
  &:focus {
    background-color: white;
    color: #1976d2;
  }
}

.header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
