.wrapper {
  padding: 30px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.descTitle {
  margin-bottom: 15px;
  font-weight: 700;
}

.descText {
  margin-bottom: 25px;
}

.btn {
  display: block;
  margin-top: 10px;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;

  &:disabled {
    background-color: rgb(25 118 210 / 49%);
    color: white;
  }
}

.label {
  margin-right: 10px;
}
