.wrapper {
  padding-top: 500px;
  padding-left: 390px;
}
.about {
  font-size: 26px;
  width: 320px;
  margin-right: 80px;
}

.register {
  font-size: 26px;
  width: 320px;
}

.text {
  transform: rotate(355deg);
}

.link {
  position: relative;
  text-decoration: none;
  top: 680px;
  left: 890px;
}
.btn {
  transform: rotate(355deg);
}
