.item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  text-transform: capitalize;
}

.number {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}

.icon {
  fill: #79b0ed;
  border: 1px solid #79b0ed;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    fill: #1976d2;
    border-color: #1976d2;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.iconUser {
  fill: #79b0ed;
  font-size: 1.8rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
