.navList {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.btn {
  &:hover,
  &:focus {
    color: white;
  }
}

.link {
  text-decoration: none;
}
